body {
  width: 1440;
  height: 3300;
  top: -1169px;
  left: 370px;
}
.header {
  width: 1440px;
  height: 72px;
}
.header-navigation {
  width: 261px;
  height: 24px;
  top: 24px;
  left: 347px;
  gap: 40px;
}
.header-navigation-logo {
  width: 115px;
  height: 24px;
  top: 24px;
  left: 156px;
  font-family: "Raleway";
  font-weight: 700px;
  font-size: 18px;
  line-height: 1.17px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-address-email {
  width: 153px;
  height: 24px;
  top: 24px;
  left: 940px;
}
.header-address-tel {
  width: 151px;
  height: 24px;
  top: 24px;
  left: 1133px;
}
.hero-image {
  width: 1440px;
  height: 600px;
  top: 72px;
  background: #2e2f42;
}
h1 {
  width: 496px;
  height: 120px;
  top: 260px;
  left: 472px;
  color: #ffffff;
}
.hero-image-button {
  width: 169px;
  height: 56px;
  top: 428px;
  left: 636px;
  background: #4d5ae5;
  border-radius: 4px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  gap: 10px;
}
.hero-image-button-text {
  width: 105px;
  height: 24px;
}
.our-team {
  width: 1440px;
  height: 732px;
  top: 1016px;
}
.our-team-maintext {
  width: 162px;
  height: 40px;
  top: 1136px;
  left: 639px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  text-align: center;
}
.our-team-1 {
  width: 264px;
  height: 380px;
  top: 1248px;
  left: 156px;
  padding-bottom: 32px;
  gap: 32px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.our-team-2 {
  width: 264px;
  height: 380px;
  top: 1248px;
  left: 444px;
  padding-bottom: 32px;
  gap: 32px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.our-team-3 {
  width: 264;
  height: 380;
  top: 1248px;
  left: 732px;
  padding-bottom: 32px;
  gap: 32px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.our-team-4 {
  width: 264;
  height: 380;
  top: 1248px;
  left: 1020px;
  padding-bottom: 32px;
  gap: 32px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.our-portfolio {
  width: 1128;
  height: 1000;
  top: 1868px;
  left: 156px;
  border-width: 1px;
}

.footer {
  background-color: #2e2f42;
  width: 1440;
  height: 312;
  top: 2988px;
}
.footer-alltext {
  width: 264px;
  height: 112px;
  top: 3088px;
  left: 156px;
}
.footer-logo {
  width: 115px;
  height: 24px;
  top: 3088px;
  left: 156px;
}
.footer-text {
  width: 264px;
  height: 72px;
  top: 3128px;
  left: 156px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
