body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", "Raleway", sans-serif;
}

.logo-main {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-main .logo-highlight {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address-info {
  font-style: normal;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero-image {
  width: 1440px;
  height: 600px;
  background: #2e2f42;
}

h1 {
  color: #ffffff;
  width: 496px;
  height: 120px;
}

.hero-image-button {
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  gap: 10px;
  width: 169px;
  height: 56px;
}

.hero-image-button-text {
  width: 105px;
  height: 24px;
}

.our-team {
  width: 1440px;
  height: 732px;
}

.our-team-maintext {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  text-align: center;
  width: 162px;
  height: 40px;
}

.our-team-1,
.our-team-2,
.our-team-3,
.our-team-4 {
  width: 264px;
  height: 380px;
  padding-bottom: 32px;
  gap: 32px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.our-portfolio {
  width: 1128px;
  height: 1000px;
  border-width: 1px;
}

.footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
}

.footer-alltext {
  width: 264px;
  height: 112px;
}

.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #4d5ae5;
  width: 44px;
  height: 21px;
}

.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #f4f4fd;
  width: 264px;
  height: 72px;
}
