body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

.logo-main {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-main .logo-highlight {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address-info {
  font-style: normal;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero-image {
  background: #2e2f42;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-image-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}
.hero-image-button:hover,
.hero-image-button:focus {
  background-color: #404bbf;
}

.advantages-title {
  font-size: 36px;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 24px;
}

.advantages-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team-maintext {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  text-align: center;
}

.our-portfolio {
  border-width: 1px;
}

.footer {
  background-color: #2e2f42;
}

.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #f4f4fd;
}
